<div id="pathsContainer">
  <div class="pathsLeft">
    <ul class="navMenu">
      <li class="navHeader">Menu</li>
      <li>
          <%= link_to 'New Path', new_path_path %>
      </li>
      <li>
          <%= link_to 'My Paths', user_profile_path %>
      </li>
    </ul><!--/.navMenu -->
  </div><!--/.pathsLeft -->
  <div class="pathsRight">
    <div id="pathsColumns">
        <%= render :partial => 'pathResults', :collection => @paths, :as => 'path' %>
   </div><!-- end pathsColumns -->
</div>

</div>