<div class="rcomment">
  <div class="created_at"><%= rcomment.created_at.strftime("%B %d, %Y") %></div>
  <div class="content">
    <%= link_to rcomment.content, rcomment %>
  </div>
  <div class="actions">
    <%= link_to "Reply", new_rcomment_path(:parent_id => rcomment, :resource_id => rcomment.resource_id) %> |
    <%= link_to "Destroy", rcomment, :confirm => "Are you sure?", :method => :delete %>
  </div>
</div>