/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require_tree ./engage
 *= require style
 */

.notice{
  height: 25px;
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
}
.alert, .alert h4 {
  height: 25px;
  color: #c09853;
}

.error{
  height: 25px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}