// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#usersContainer{
  h1{
    color:#434343 !important;
    display: block;
    font-size: 2.5em;
    line-height: 1.1em;
    font-weight: bold;
  }
  h3{
    color:#232323 !important;
    display: block;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: bold;
    padding-bottom: 3px;
  }

  .resume{
    padding-left: 10px;
    font-size: 1.5em;
  }

  #eduleft{
    float: left;
  }
  #eduright{
    float: right;
    padding-right: 20px;
  }
}
